@font-face {
  font-family:'AlexBrush';
  src: url("../fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #181919;
  font-family: 'OpenSans', Verdana, sans-serif;
}

.top-nav-list {
  display: inline-flex;
  text-align: center;
  justify-content: flex-start;
  position: absolute;
}

.top-nav-list li {
  color: whitesmoke;
  list-style: none;
  display: inherit;
  margin-right: 2.5em;
  font-size: 1.5em;
  border-left: black 1px solid;
  padding: 0 1.2em;
  margin: auto;
}
#last {
  border-right: black 1px solid;
}
.main-header {
  color: whitesmoke;
  flex: 1;
  margin-top: 2.5em;
}
.main-header h1 {
  margin-top: 0.2em;
  font-size: 6em;
  float: top;
  padding: -0.5em 0 0 4em;
  background: #255887;
  min-width: 620px;
  font-family: 'AlexBrush', Verdana, sans-serif;
}
.main-header h2 {
  margin: -2em 0 0.25em -5em;
  padding: 0.5em;
  background-color: #255887;
}

#favicon {
  display: flex;
  float: left;
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin: -1.3em 0.6em 0 0.5em;
  position: relative;
  border: black solid 2px;
}
.home-page {
  margin-top: 10em;
  font-size: 1.75em;
  line-height: 2em;
}
.pleft {
  background-color: #255887;
  float: left;
}
.pright {
  background-color: #464b4f;
  float: right;
}
.pleft,
.pright {
  margin-bottom: 4em;
  color: whitesmoke;
  display: block;
  width: 75%;
  padding: 1.3em;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  font-size: 2em;
}
.intext-link {
  color: #7fb4ff;
}

.intext-link:visited {
  color: #7fb4ff;
}
.intext-link:hover {
  font-size: 1em;
}
.music-content {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  margin-top: 6em;
  margin-left: 3em;
  margin-right: auto;
  position: relative;
  float: left;
}
.music-content h1,
p {
  color: whitesmoke;
}
.music-content h1 {
  display: inline-flex;
  font-size: 5em;
  justify-content: flex-end;
  margin: 0 auto 0em .5em;
}
.music-content-right {
  display: inline-block;
}
.music-content p {
  display: flexbox;
  margin: 0 auto 0 2.5rem;

}
.music-content ul {
  display: flexbox;
  list-style: none;
  line-height: 3em;
  font-size: 3em;
  text-decoration: underline 3px whitesmoke;
}
.music-content a:hover {
  font-size: 1em;
  color:#255887;
  text-decoration: underline 3px #255887;
}
#cenRide {
  width: 640px;
  height:647px;
  margin-bottom: 5em;
}
.art-content {
  display:inline-flexbox;
  flex-wrap: wrap;
  margin-top: 10em;
  justify-content: flex-start;
}
.art-content img {
  width:25%;
  height:auto;
  margin:2em;
}
#art-content-favicon {
  float:inline-start;
}