html{
    margin:0px;
    padding:0px;
    font-size:16px;
}

.main-header{
    display:flex;
}
.main-header h1, .main-header h2{
    flex:1;
    max-width: min-content;
    position:relative;
}
.main-header h1{
    /* subject to change */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2C4C79;
    font-size:4.5em;
    color:#fff;
    margin: 0 0.5em 0 0.5em;
    top:-10px;
    padding:.5em;
    padding-top: 2.75em;
}